.inlineWrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 1.063rem;
}

.iconWrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
