.inlineWrapper {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;

  text-align: center;

  color: #fff;
  font-size: 1.063rem;
}

.iconWrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.rightMenuWrapper {
  display: inline-flex;
}

.margin {
  width: 1.063rem;
}
