@import '/styles/scroll.module.scss';

.wrapper {
  @include hide-scrollbar();
  width: 100%;

  display: inline-flex;
  padding: 0.688rem 0 0.688rem 1rem;
  background-color: var(--maincolor);
  overflow-x: scroll;
}

.imageWrapper {
  position: relative;
  width: 2.875rem;
  height: 2.875rem;
  margin-right: 0.625rem;
  flex-shrink: 0;
  cursor: pointer;
}

.image {
  border-radius: 5px;
}
