.wrapper {
  width: 100%;
  height: calc(100vh - 48px);
  background-color: #f9f9fb;
  padding: 1.2rem 1rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.inputBarWrapper {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.25rem 1rem;
}
