@mixin color {
  --black: #000000;
  --black-10: rgba(0, 0, 0, 0.1);

  --charcoal-grey: #464052;
  --charcoal-grey-two: #363a42;

  --cool-grey: #a4a6b0;
  --battleship-grey: #74747e;

  --pale-lilac: #e6e6eb;
  --maincolor: #5b36ac;
}
