@mixin textStyle {
  font-family: AppleSDGothicNeo-Regular;

  --textStyle3: {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
  }

  --textStyle2: {
    font-size: 14px;
    font-weight: semibold;
    letter-spacing: -0.1px;
  }

  --textStyle: {
    font-size: 16px;
    font-weight: semibold;
    letter-spacing: -0.1px;
  }
}

@mixin TextStyle3 {
  @include DefaultText();
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

@mixin TextStyle2 {
  @include DefaultText();
  font-size: 14px;
  font-weight: semibold;
  letter-spacing: -0.1px;
}

@mixin TextStyle {
  @include DefaultText();
  font-size: 16px;
  font-weight: semibold;
  letter-spacing: -0.1px;
}
